# Renombra este archivo a .env y ajusta los valores

# SECRET_KEY=autodocs-super-secret-key-2025
# JWT_SECRET_KEY=jwt-autodocs-secret-key-2025
# MONGO_URI=mongodb://localhost:27017/autodocs_ai
# FLASK_DEBUG=True
# UPLOAD_FOLDER=./uploads
# EXPORT_FOLDER=./exports

# API Key de Groq para IA (puedes agregar múltiples separadas por comas)
# Ejemplo: GROQ_API_KEY=key1,key2,key3
GROQ_API_KEY=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

